body {
  background-color: rgb(240, 240, 184);
  font-family: Arial;
  font-size: 20px;
}

h1 {
  font-size: 40px;
}

.first {
  color: red;
}

#first-name {
  border: 5px solid #444;
}

.second {
  color: blue;
}
