* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(240, 240, 184);
  font-family: Arial;
  font-size: 20px;
  /*margin: 50px;*/
  padding: 50px;
}

img {
  width: 300px;
}
h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 20px;
  /*text-align: center;*/
}

p {
  margin-bottom: 20px;
}

.first {
  color: red;
  margin-bottom: 20px;
}

#first-name {
  border: 5px solid #444;
  width: 400px;
  padding: 25px;
  margin-top: 30px;
}

.second {
  color: blue;
}

input,
button {
  padding: 10px;
  font-size: 16px;
}

a {
  background-color: yellow;
}
/* if you wanted to chage anything only for particular h2 heading than we can do like below
if it has any id or class put that and than other selcetor. */

#first-name h2 {
  color: olivedrab;
}
